@font-face {
    font-family: 'Parking_Fonts';
    src: url('../Assets/Fonts/ShareTech-Regular.ttf') format('truetype');
}

html {

}

header {

}

body {
    background-color: green;
    font-family: 'Parking_Fonts', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {

}

#textbox {
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
    background-color: black;
    padding: 1rem;
    color: white;

}
