@font-face {
    font-family: 'Parking_Fonts';
    src: url('../Assets/Fonts/ShareTech-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

header {

}

body {
    background-color: green;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {

}

h1 {
    font-family: 'Parking_Fonts', sans-serif;
}

h2 {

}

p {

}

#textbox {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: black;
    padding: 1rem;
    color: white;

}

